@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-roboto-light: "Roboto-Light", sans-serif;
  --font-roboto-regular: "Roboto-Regular", sans-serif;
  --font-roboto-bold: "Roboto-Bold", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-roboto-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-noto-sans);
}

code,
pre {
  font-family: var(--font-roboto-light);
}

.font-roboto-light {
  font-family: var(--font-roboto-light);
}

/* Clases utilitarias para todas tus fuentes */
.font-noto {
  font-family: var(--font-noto-sans);
}

.font-roboto-light {
  font-family: var(--font-roboto-light);
}

.font-roboto {
  font-family: var(--font-roboto-regular);
}

.font-roboto-bold {
  font-family: var(--font-roboto-bold);
}

.font-poppins {
  font-family: var(--font-poppins);
}

/* Clases temáticas para diferentes usos */
.font-heading {
  font-family: var(--font-noto-sans);
  font-weight: 700;
}

.font-body {
  font-family: var(--font-roboto-regular);
  font-weight: 400;
}

.font-caption {
  font-family: var(--font-roboto-light);
  font-weight: 300;
}

.font-button {
  font-family: var(--font-roboto-bold);
  font-weight: 600;
}
